.button {
  background-color: #efdfef;
  color: #476d8f;
  cursor: pointer;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  width: 20rem;
  height: 5rem;
  border-radius: 0.8rem;
  border: 1px solid #476d8f;
  box-shadow: 4px 4px 10px #476d8f;
}

.button:active {
  box-shadow: 2px 2px 3px #476d8f;
}
