
html {
  font-size: 62.5%; 

  background: rgb(180, 180, 180);
}

body {
  margin: 0;
  width: 37.5rem;
  height: 81.2rem;
  margin: 0 auto;
  background: white;
}

#root {
  width: inherit;
  height: inherit;
  margin: 0 auto;
}