.reviews-view{
    display: flex;  
    flex-direction: column;
    align-items: center;
}


.show-old-reviews-area{
    height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    &__review-h2{
        margin-bottom: 0;
        margin-top: 0;
    }
    &__review-h3{
        margin-top: 0;
        overflow-y: scroll;
        &__reviewItems{
            padding-left: 3rem;
            padding-right: 3rem;
            margin-top: 0;
        }
    }
}

.show-new-review-area{
display: flex;
flex-direction: column;
align-items: center;
padding-top: 1rem;
    &__rating{
        &__star:hover{
        cursor: pointer;
        background-color: #8b4949;
        }
        &__star:focus{
            background-color: #8b4949;
        }
    }
    &__submit{
    cursor: pointer;
    }
}
