@import '../../scss/mixins';

.footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-row: 3 / -1;
  @include center;
  flex-direction: column;
}

.footer-switchlogin-text {
  font-size: 1.3rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.65);
  margin: .5rem 0 0 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.footer-switchlogin-text:hover {
  color: rgb(0, 0, 0);
}